@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    letter-spacing: 1.5px;
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    font-family: 'Roboto', sans-serif;
    font-family: 'Quicksand', sans-serif;
    min-height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {

    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;

}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}


img {
    transition: transform .4s;
}

img:hover {
    transform: scale(1.03);
}